*.DS_Store
/examples/*/output/*
*/html/*
/html/*
/*/*.aux
/*/*.pdf
/*/*.log
/*/*.out
/*/*.gz
/*/*.toc
/*/*.spl
/*/*.xwm
/*/*/*.aux
/*/*/*.pdf
/*/*/*.log
/*/*/*.out
/*/*/*.gz
/*/*/*.toc
/*/*/*.xwm
octave-workspace
/src/*.txt
/src/*.oct
*.mat
*.vtk
*.dat
*.lnx
/examples/strings.txt
Manifest.toml
docs/build/
docs/site/
*.vscode
docs/src/examples/
