/output/*
/html/*
/*/*.aux
/*/*.pdf
/*/*.log
/*/*.out
/*/*.gz
/*/*.toc
/*/*.spl
/*/*.xwm
/*/*/*.aux
/*/*/*.pdf
/*/*/*.log
/*/*/*.out
/*/*/*.gz
/*/*/*.toc
/*/*/*.xwm
octave-workspace
/documentation/*.bbl
/documentation/*.blg
/input/*.bak
/sources/*.txt
/sources/*.oct
