# This is the ONSAS coode testing continuous integration config file
#
name: moxunit_code_coverage

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - name: run octave tests using moxunit
        uses: joergbrech/moxunit-action@v1.3.0
        with:
          src: .
          tests: ./test/runTestProblemsMoxunitDisplacements.m
          with_coverage: true
          cover_xml_file: coverage.xml
      - uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          verbose: true
          fail_ci_if_error: true
          use_oidc: false
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

