name: octave_tests

on: [push, pull_request]

jobs:
  octave_tests:
    runs-on: ubuntu-latest
    #container: gnuoctave/octave:latest
    container: gnuoctave/octave:10.1.0
    steps:
      - uses: actions/checkout@v5
      - run: octave --eval "cd ./test, runTestProblemsLocal"
